# la documentation
docs/

# tous les executables de tests.
oscillateur/testoscillateur
integrateur/testintegrateur
eulercromer/testeulercromer
vecteur/testvecteur

# Les fichiers d'indexation de Spotlight (?) sur macOS.
*.DS_STORE

# des trucs de Qt.
*.qmake.stash

# tous les fichiers utiles à la compilation
build/*

