# la documentation
docs/

# tous les executables de tests.
exerciceP10/general/oscillateur/testoscillateur
exerciceP10/general/integrateur/testintegrateur
exerciceP10/general/eulercromer/testeulercromer
exerciceP10/general/vecteur/testvecteur
exerciceP10/general/pendule/testpendule
exerciceP10/general/ressort/testressort
exerciceP10/general/dessinable/testdessinable
exerciceP10/general/systeme/testsysteme
exerciceP10/general/torsion/testtorsion
exerciceP10/text/simulationText
# Les fichiers d'indexation de Spotlight (?) sur macOS.
*.DS_STORE

# des trucs de Qt.
*.qmake.stash

# tous les fichiers utiles à la compilation
build/*

# Tous les Makefiles générés par qmake doivent être générés sur une machine: Ca rempli le dépôt.
*/Makefile
exerciceP10/*/Makefile

# Quelques documents non importants.
exerciceP10/general/eulercromer/tests/test*
